
@{
    
}
        
<!--content-->
<div style="background-color:lightgray">
   <div col-md-6>
    <img src="~/Content/img/sgf01a201308282000.jpg" style="margin-left:25px;" />
    <img src="~/Content/img/cognitive-services.png" style="margin-left:25px;" />
    <img src="~/Content/img/3D-Facebook-Icon-psd62926.png" style="margin-left:25px;" />
    <img src="~/Content/img/mono.jpg" style="margin-left:25px;" />
    <span>@Html.ActionLink("Try Cognitive Services ～through Facebook Vision API～", "Index", "Test", null, new { @class= "button button-block button-rounded button-primary button-large" })</span>
   </div>   
</div>

