
@{
    
}        
<!--content-->
<div id="main">
        <div class="frame relative">
            <img src="~/Content/img/sgf01a201308282000.jpg" />
            <img src="~/Content/img/sea_1.jpg" class="absolute" style="left:100px;top:110px" />
            <div class="absolute" style="left:500px;top:110px">@Html.ActionLink("Demo Start", "Index", "Test", null, new { @class = "button button-circle button-primary" })</div>
            <img src="~/Content/img/readtext.png" class="absolute" style="left:750px;top:30px" />
            <img src="~/Content/img/mountain_1.jpg" class="absolute" style="left:900px;top:140px;-moz-transform: rotate(-20deg);
                -webkit-transform: rotate(-20deg);
                -o-transform: rotate(-20deg);
                -ms-transform: rotate(-20deg);
                transform: rotate(-20deg);" />
        </div>        
</div>

