@model List<Model.Aggregate>
@{

}
<script src="/Scripts/display.js"></script>
<link rel="stylesheet" href="~/Content/reset.css" />
<link rel="stylesheet" href="~/Content/style.css" />
<nav>
    <ol class="cd-multi-steps text-top">
        <li class="visited">
            <a href="#0">Start</a>
        </li>
        <li class="visited">
            <a href="#0">Facebook Image</a>
        </li>
        <li class="visited">
            <a href="#0">Cognitive Vision API</a>
        </li>
        <li class="current">
            <a href="#0">Aggregate</a>
        </li>
    </ol>
</nav>
<div id="main" style="height:50px;padding:15px;">
    <blockquote style="display:block">

        Cognitive Services Computer Vision API から得られたデータの集計

    </blockquote>
</div>
<br /><br />
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>name</th>
                <th>count</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.name</td>
                    <td>@item.count</td>
                </tr>
            }
        </tbody>
    </table>
</div>
