@model List<FacebookAPIModel.Analysis>
@{

}
<script src="/Scripts/display.js"></script>
<link rel="stylesheet" href="~/Content/reset.css" />
<link rel="stylesheet" href="~/Content/style.css" />
<script src="/Scripts/display.js"></script>
<nav>
    <ol class="cd-multi-steps text-top">
        <li class="visited">
            <a href="#0">Start</a>
        </li>
        <li class="visited">
            <a href="#0">Facebook Image</a>
        </li>
        <li class="current">
            <a href="#0">Cognitive Vision API</a>
        </li>
        <li>
            <em>Review</em>
        </li>
    </ol>
</nav>
<blockquote style="display:block">

    @ViewBag.userName さんの写真 解析結果

</blockquote>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Image</th>
                <th>Cognitive Responce</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.photoId</td>
                <td><img src="@item.source" class="img-thumbnail img-responsive" /></td>
                <td>@item.visionResult</td>
            </tr>
            }
        </tbody>
    </table>
    </div>







