@model List<Model.Analysis>
@{

}
<script src="/Scripts/display.js"></script>
<link rel="stylesheet" href="~/Content/reset.css" />
<link rel="stylesheet" href="~/Content/style.css" />
<nav>
    <ol class="cd-multi-steps text-top">
        <li class="visited">
            <a href="#0">Start</a>
        </li>
        <li class="visited">
            <a href="#0">Facebook Image</a>
        </li>
        <li class="current">
            <a href="#0">Cognitive Vision API</a>
        </li>        
    </ol>
</nav>
<blockquote style="display:block">

    @ViewBag.userName さんの写真 <br />Cognitive Services Computer Vision API 呼び出し結果
    <br />
</blockquote>
<br /><br />
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Image</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.photoId</td>
                    <td><img src="@item.source" class="img-thumbnail img-responsive" /></td>
                    <td>@item.visionResult</td>
                </tr>
            }
        </tbody>
    </table>
</div>







