@model Model.UserInfo
@{

}
<link rel="stylesheet" href="~/Content/reset.css" />
<link rel="stylesheet" href="~/Content/style.css" />
<nav>
    <ol class="cd-multi-steps text-top">
        <li class="current">
            <em>Start</em>
        </li>
        <li>
            <em>Facebook Image</em>
        </li>
        <li>
            <em>Cognitive Vision API</em>
        </li>
        <li>
            <em>Aggregate</em>
        </li>
    </ol>
</nav>
<div id="main">
    <div class="frame" style="padding:10px;">
        <blockquote style="margin-bottom:20px;">
            <p>
                こんにちは @ViewBag.userName さん
                <img src="@ViewBag.ImageUri" />
            </p>
        </blockquote>
        <p>
            <small>
                これより、Facebookからアルバム内の画像を取得します。
                <br />取得後、Cognitive Services Vision APIを利用した画像解析を実施します。
            </small>
        </p>
        <br />@Html.ActionLink("Facebookアカウントから画像を取得する", "Photo", "Test", null, new { @class = "button button-3d-primary button-rounded" })
        <img src="~/Content/img/facebook-graph-api-572x150.jpg" class="absolute" style="left:600px;top:130px" />
        <img src="~/Content/img/test2_9_2.jpg" class="absolute" style="left:700px;top:290px" />
        <img src="~/Content/img/test2_10.jpg" class="absolute" style="left:980px;top:250px" />
    </div>
</div>