@model FacebookAPIModel.UserInfo
@{
       
}
<link rel="stylesheet" href="~/Content/reset.css" />
<link rel="stylesheet" href="~/Content/style.css" />
<nav>
    <ol class="cd-multi-steps text-top">
        <li class="current">
            <em>Start</em>
        </li>
        <li>
            <em>Facebook</em>
        </li>
        <li>
            <em>Cognitive</em>
        </li>
        <li>
            <em>Review</em>
        </li>
    </ol>
</nav>
<div id="main">
    <div class="relative" style="padding:10px;">
        <blockquote>
            <p>
                こんにちは @ViewBag.userName さん
                <img src="@ViewBag.ImageUri" />
            </p>
        </blockquote>
        <p>
            <small>
                これより、Facebookからアルバム内の画像を取得します。
                <br />取得後、Cognitive Services Vision APIを利用した画像解析を実施します。
            </small>
        </p>
        <br />@Html.ActionLink("Facebookアカウントから画像を取得する", "Photo", "Test", null, new { @class = "button button-3d-primary button-rounded" })
    </div>
</div>