
@{
    
}
<script src="/Scripts/display.js"></script>
<link rel="stylesheet" href="~/Content/reset.css" />
<link rel="stylesheet" href="~/Content/style.css" />
<nav>
    <ol class="cd-multi-steps text-top">
        <li class="visited">
            <a href="#0">Start</a>
        </li>
        <li class="visited">
            <a href="#0">Facebook Image</a>
        </li>
        <li class="visited">
            <a href="#0">Cognitive Vision API</a>
        </li>
        <li class="current">
            <a href="#0">Recommend</a>
        </li>
    </ol>
</nav>
<blockquote style="display:block">
    
    Cognitive Services Computer Vision API から得られたデータの解析

</blockquote>
